body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

#expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#expense-list li button {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}
