:root {
    --mode-color: #d46a6a;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--mode-color);
    transition: background 0.4s ease;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 35px;
    width: 360px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.12);
}

.mode-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.mode-btn {
    background: transparent;
    border: none;
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    color: #444;
    transition: 0.25s;
}

.mode-btn.active {
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: 600;
}

.circle-wrapper {
    position: relative;
    width: 220px;
    margin: 0 auto 25px auto;
}

.progress-ring circle {
    fill: none;
    stroke-width: 12;
    stroke-linecap: round;
}

.ring-bg {
    stroke: #e2e2e2;
}

.ring-progress {
    stroke: var(--mode-color);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke 0.25s ease, stroke-dashoffset 0.25s ease;
}

.timer-text {
    position: absolute;
    top: 82px;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    color: #333;
}

#start-pause {
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    background: var(--mode-color);
    color: white;
    transition: 0.2s;
}

#start-pause:active {
    transform: translateY(1px);
}
